<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
            {{ ux_controller_link_tags() }}
    {% endblock %}

    {% block javascripts %}
            {{ importmap('app') }}
    {% endblock %}
</head>

<body class="">
<div class="page">
    <div style="min-height: 100vh;" class="page-wrapper">
        <div class="page-body">
            <div class="container">
                <div class="row justify-content-center align-items-center mt-5 p-5">

                    <div class="col-2">
                        <a style="text-align: center;" href="/">
                            <svg style="display:block; margin:auto;" width="100px" id="Ebene_4" data-name="Ebene 4"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080">
                                <style>
                                    .cls-1 {
                                        /*fill: url(#MyGradient)*/
                                        fill: #206bc4;
                                    }
                                </style>
                                <defs>
                                    <linearGradient id="MyGradient">
                                        <stop offset="0%" stop-color="#0a0a81"/>
                                        <stop offset="100%" stop-color="#0069e4"/>
                                    </linearGradient>
                                </defs>
                                <path class="cls-1"
                                      d="M939.49,1050.46L588.71,310.39,286.79,882.72h291.01v172.28H146.89c-30.62,0-59.47-16.29-75.28-42.52-15.81-26.23-16.75-59.34-2.46-86.43L514.99,80.9c15.61-29.62,46.02-47.65,79.64-46.87,33.5,.72,63.23,19.98,77.57,50.27l267.29,563.94V122.62c0-36.3,22.8-69.33,56.75-82.2,33.94-12.87,72.91-3.26,96.98,23.92l5.58,6.31,303.18,517.68L1701.38,71.06l5.55-6.33c23.99-27.38,63-37.16,97.06-24.34,34.07,12.81,56.96,45.88,56.96,82.28v932.34h-172.28V436.93l-214.6,370.77-5.56,6.34c-16.61,18.94-40.59,29.86-65.79,29.94h-.3c-25.09,0-49.02-10.74-65.7-29.5l-5.66-6.36-219.28-374.43v621.29h-170.13"/>
                            </svg>
                        </a>
                    </div>

                    <div class="col-2">
                        <a href="/orders" class="btn btn-primary w-100">
                            orders
                        </a>
                    </div>

                    <div class="col-2">
                        <a href="/restaurants" class="btn btn-primary w-100">
                            restaurants
                        </a>
                    </div>

                    <div class="col-2">
                        <a style="cursor: not-allowed" class="btn btn-primary w-100">
                            coupons
                        </a>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-2 col-sm-12 col-md-12 col-xl-2"></div>
                    <div style="border-radius: 14px;"
                         class="col-8 col-xs-12 col-sm-12 col-md-12 col-xl-8 p-5">

                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% block body %}{% endblock %}
                    </div>
                    <div class="col-2 col-sm-12 col-md-12 col-xl-2"></div>
                </div>
            </div>

        </div>
    </div>
</body>

<footer class="footer footer-transparent d-print-none">
    <div class="row align-items-center">

        <div class="col-5 col-sm-12 col-md-12 col-xl-5"></div>

        <div class="col-2 col-sm-12 col-md-12 col-xl-2 py-5">
            <a style="text-align: center;" href="https://github.com/arthsmiller" target="_blank">
                <svg style="display:block; margin:auto;" width="100px" id="Ebene_4" data-name="Ebene 4"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080">
                    <style>
                        .cls-1 {
                            /*fill: url(#MyGradient)*/
                            fill: #206bc4;
                        }
                    </style>
                    <defs>
                        <linearGradient id="MyGradient">
                            <stop offset="0%" stop-color="#0a0a81"/>
                            <stop offset="100%" stop-color="#0069e4"/>
                        </linearGradient>
                    </defs>
                    <path class="cls-1"
                          d="M939.49,1050.46L588.71,310.39,286.79,882.72h291.01v172.28H146.89c-30.62,0-59.47-16.29-75.28-42.52-15.81-26.23-16.75-59.34-2.46-86.43L514.99,80.9c15.61-29.62,46.02-47.65,79.64-46.87,33.5,.72,63.23,19.98,77.57,50.27l267.29,563.94V122.62c0-36.3,22.8-69.33,56.75-82.2,33.94-12.87,72.91-3.26,96.98,23.92l5.58,6.31,303.18,517.68L1701.38,71.06l5.55-6.33c23.99-27.38,63-37.16,97.06-24.34,34.07,12.81,56.96,45.88,56.96,82.28v932.34h-172.28V436.93l-214.6,370.77-5.56,6.34c-16.61,18.94-40.59,29.86-65.79,29.94h-.3c-25.09,0-49.02-10.74-65.7-29.5l-5.66-6.36-219.28-374.43v621.29h-170.13"/>
                </svg>
            </a>
        </div>

        <div class="col-5 col-sm-12 col-md-12 col-xl-5"></div>

    </div>
</footer>

</html>
